body {
    background-color: #ffffff !important;
}

.x-icon-navbar {
    width: 62px;
    height: 62px;
    object-fit: contain;
}

.x-hero-avatar {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.img-thumbnail {
    border: none;
}

#hero-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#carousel-section {
    padding: 0 0 10rem;
}

#services-section {
    padding: 0 0 5rem;
}

#project-section {
    padding: 0 0 5rem;
}

#contact-section {
    padding: 10rem 0;
}

.x-service-image {
    width: 100%;
    height: 760px;
    object-fit: cover;
    border-radius: 16px;
}

.x-project-image {
    width: 100%;
    height: 560px;
    object-fit: cover;
    border-radius: 16px;
}

.btn {
    padding: 1rem 1.7rem !important;
    border-radius: 12px !important;
}

.product-box {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #FFFFFF; /* Set background color to white */
}

.product-logo {
    max-width: 300px;
    margin-bottom: 10px;
}

.filter-container {
    background-color: #dc3545; /* Red */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-control {
    background-color: #FFFFFF; /* White */
}

.btn-primary {
    background-color: #dc3545; /* Red */
    border-color: #dc3545;
}

.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chat-body {
    max-height: 200px;
    overflow-y: auto;
}

.chat-input {
    width: calc(100% - 20px);
    border: none;
    border-top: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
}

.social-links i {
    color: #dc3545; /* Change to the color you want */
}

.team-member {
    opacity: 0;
    transition: opacity 3s ease;
}

.team-member.show {
    opacity: 1;
}

.sticky-nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}